.card-body{
    display: flex;
    vertical-align: middle;
}

.wi{
    font-size:4em;
    padding-bottom:10px;
}

h4:first-letter{
    text-transform:capitalize;
}

.wi-day-cloudy{
    padding-bottom:0px;
    padding-top:10px;
}

weather-icons{
    font-size:15px;
}

a:hover{
   cursor:pointer; 
   text-decoration: none;
}

.col-md-5,#map{
     padding-left:0px;
     background-clip: content-box;
}

.fa-chevron-right, .fa-chevron-left{
    text-decoration:none;
}
.col-md-1{
    text-align: right;
    margin: auto 0;
}


#information i{
    font-size: 30px;
    font-weight:700;  
}

.col-md-offset-3{
    padding-left:0px;
}
 #map{
    height:400px
}

/*Animations*/

.jsView.ng-enter{
    transition: 0.3s linear all;
    opacity:0;
}

.jsView.ng-enter.ng-enter-active {
    opacity:1;
}

#information {
   transition: 0.5s linear all;
   overflow: hidden;
   height:195px;
  
}
#information.ng-hide {
   height:0px;
}


#map{
   transition: 0.5s linear all;    
   overflow: hidden;    
}

#map.ng-hide{
    width:0px;
}


 
.navbar{
    width:100%;
    position:fixed;
    padding-top:0px;
    padding-bottom:0px;
}

