.navbar{
    width: 100%;
    position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
}


.wi{
    font-size: 4.5em;
    padding:5px;
}

.matchingCities{
    height : 40px;
    margin-bottom: 1px;
    padding: 6px 0px 0px 15px;
    
}

.matchingCities:hover{
    cursor: pointer;
    background-color:#f8f9fa;
}

weather-icons{
    font-size: 15px;
}

#separated weather-icons{
    font-size: 10px; 
}

span{
    
    position:relative;
    top:25px
}

a:hover{
   cursor: pointer; 
   text-decoration: none;
}

.col-md-5,#map{
     padding-left: 0px;
     background-clip: content-box;
}

.fa-chevron-right, .fa-chevron-left{
    text-decoration: none;
}

.col-md-1{
    text-align: right;
    margin: auto 0;
}


#information i{
    font-size: 30px;
}

.col-md-offset-3{
    padding-left: 0px;
}

 #map{
    height: 398px
}

/*Animations*/

.jsView.ng-enter{
    transition: 0.3s linear all;
    opacity: 0;
}

.jsView.ng-enter.ng-enter-active {
    opacity:1;
}

#information {
   transition: 0.5s linear all;
   overflow: hidden;
   height: 195px;
  
}

#information.ng-hide {
   height:0px;
}

#map{
   transition: 0.5s linear all;    
   overflow: hidden;    
}

#map.ng-hide{
    width: 0px;
    height:0px;
}


#welcome{
    margin: 0px;
    text-align: center;
    width:50%;
    margin:0px auto;
    border-radius: 15px;
    transition-duration:0.5s;
}

.disabledButton{
    background-color: #bebebe;
    pointer-events: none;
}

#welcome .icons{
    border-radius:15px 15px 0px 0px;
}

#welcome .card-body{
    border-radius:0px 0px 15px 15px;
}

.dark-blue{
    color: #1a028e;
}

.dark-red{
    
    color:#8e0101;
}
#separated{
    padding:5px;
    background-clip: padding-box;
}

.hot{
   background-color: #f8d7da;
}

.warm{
   background-color: #fff3cd;
}

.cold{
    
    background-color: #cce5ff;
}