card-body{
   
    display: flex;
    vertical-align: middle;
}

.wi{
    font-size:4em;
    padding-bottom:10px;
}

h4:first-letter{
    
    text-transform:capitalize;
}

.wi-day-cloudy{
    padding-bottom:0px;
    padding-top:10px;
    
}

a:hover{
   cursor:pointer; 
   text-decoration: none;
}

.col-md-5,#map{
    
     padding-left:0px;
     background-clip: content-box;
     
}

.fa-chevron-right, .fa-chevron-left{
    
    
    text-decoration:none;
    
     
}
.col-md-1{
    
    
    text-align: right;
    margin: auto 0;
}

#information i{
    
    font-size: 30px;
    font-weight:700;  
}

.col-md-offset-3{
    
    padding-left:0px;
}
.col-md-7, #map{
    height:400px
}
