<div >
    <i class="wi wi-day-sunny" ng-if="weather.weatherDescription==='clear sky'"></i>
    <i class="wi wi-day-cloudy" ng-if="weather.weatherDescription==='few clouds'||weather.weatherDescription==='scattered clouds'"></i>
    <i class="wi wi-cloudy" ng-if="weather.weatherDescription==='broken clouds'|| weather.weatherDescription==='overcast clouds' || weather.weatherDescription=== 'drizzle'"></i>
    <i class="wi wi-showers" ng-if="weather.weatherDescription==='shower rain' || weather.weatherDescription==='shower rain'||weather.weatherDescription==='light rain'||weather.weatherDescription==='light intensity drizzle' || weather.weatherDescription==='light intensity shower rain'"></i>
    <i class="wi wi-rain" ng-if="weather.weatherDescription==='rain'"></i>
    <i class="wi wi-storm-showers" ng-if="weather.weatherDescription==='thunderstorm' ||weather.weatherDescription==='thunderstorm with light rain' "></i>
    <i class="wi wi-snow" ng-if="weather.weatherDescription==='snow'"></i>
    <i class="wi wi-smog" ng-if="weather.weatherDescription==='mist'"></i>
    <i class="wi wi-day-haze" ng-if="weather.weatherDescription==='haze'"></i>
</div>

 
