
<div>
    
    <div class="col-md-5 float-left text-white" id="cardMeteo" ng-show="display===true" >
                

          <div class="card-body">
                <div class="container">
                    <div class="row">
                          <div class="col-md-6">
                            <h4 class="card-title">{{city}},{{country}}</h4>
                            <h4 class="card-text">{{tempInCelcius}}&deg C</h4>
                          </div>

                           <weather-icons class="col-md-4 text-center mr-0 "></weather-icons>
                        
                          <div class="col-md-10">
                              <a ng-show="displayInfo===false" ng-click="timeFunction()"><i id="downArror"class="fa fa-chevron-down"></i></a>
                              <a ng-show="displayInfo===true" ng-click="displayInfo=false"><i class="fa fa-chevron-up"></i></a>
                          </div>
                          <div class="col-md-2">
                              <a ng-click="createMap()"><i class="fa fa-globe" style="font-size:24px"></i></a>
                          </div>
                        
                        <weather-information class="col-md-12 text-white mt-2" id="information" ></weather-information>
                    </div>

                </div>
          </div>
            
    </div>
  
        
    </div>

    <div class="col-md-7 float-right">
        <div id="map" class="col-md-12" ng-show="displayMap===true">


        </div>
    </div>
        

   
<div class="alert alert-danger col-md-6" id="error" ng-show="display===false"> This City Doesn't Exist! </div>

<a ui-sref="home" id="buttonReturn" class="btn text-white bg-dark mt-1"><i class="fa fa-long-arrow-left" style="font-size:36px"></i></a>


        

